@using Microsoft.AspNetCore.Identity;
@using shitfo.Enums
@using shitfo.ViewModels
@model HomeViewModel
@inject UserManager<AppUser> user
@{
    AppUser userr = null;
    if (User.Identity.IsAuthenticated)
    {
        userr =  user.Users.FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="~/css/index.css?version=51" />
}

<div class="pageindex">
    <div class="firstpage relative">
        <div class="owl-carousel owl-reponsive inheader">
            <div><img src="~/assets/bir.jpg" alt="" /></div>
            <div><img src="~/assets/iki.jpg" alt="" /></div>
            <div><img src="~/assets/3.jpg" alt="" /></div>
        </div>
        <div class="container search">
            <div class="title">
                <p class="boldtext">
                    Best
                    <span class="boldtext vital">Rental Website</span> in Azerbaijan
                </p>
                <p style="
                  color: rgba(255, 255, 255, 0.8) !important;
                  font-size: 20px;
                "
                   class="fs-18 mt-3 text-white-80">
                    Houses and apartments for rent.
                </p>
            </div>
            <div class="searcharea">
                <form asp-controller="property" asp-action="list" method="post" class="form no-gutters">
                    <div class="city">
                        <p class="boldtext">City</p>
                        <select style="height: 45px !important; width: 285px !important"
                                class="js-example-basic-single"
                                name="cityId">
                            <option selected disabled>Select city</option>

                            @foreach (var item in Model.Cities)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }
                        </select>
                    </div>
                    <div class="categories">
                        <p class="boldtext">Category</p>
                        <select style="height: 45px !important; width: 285px !important"
                                class="js-example-basic-single"
                                name="categoryId">
                            <option selected disabled>Select category</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }



                        </select>
                    </div>
                    <button type="submit"
                            class="
                    btn btn-lg btn-block btn-primary
                    waves-effect waves-light
                    br-tl-md-0 br-bl-md-0
                  ">
                        Search Here
                    </button>
                </form>
                <div class="totaluserinfo">
                    <i class="fas fa-globe"></i>

                    <p>Total Count of People using Shifto: <span>@Model.UserCount</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pagetwo">
    <div class="img-absolute-top">
        <img src="~/assets/bg4.png" alt="" />
    </div>
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">@Model.Categories.Count categories</p>
            <p class="boldtext">Categories</p>
            <p style="font-size: 16px">
                Here you can access properties by their category
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            insecondpage
          ">
            @foreach (var item in Model.Categories)
            {

                <div class="carditem mx-auto">
                    <a asp-controller="property" asp-action="list" asp-route-categoryId="@item.Id"><img src="~/uploads/@item.Image" alt="" /></a>
                    <div class="title">
                        <p style="margin-bottom: 0" class="available">
                            <span>@item.Properties.Count</span> Rents available
                        </p>
                        <p class="boldtext">@item.Name</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<section class="pagethree">
    <div class="container firstpage">
        <div class="heading">
            <p class="recent">latest offers</p>
            <p class="boldtext">Find Latest <span>Offers</span></p>
            <p style="font-size: 16px">
                Here you can access rent properties which were added lately
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            inthirdpage
          ">
            @foreach (var item in Model.LatestProperties)
            {
                <div class="carditem">
                    <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id"><img src="~/uploads/@item.PropertyImages.FirstOrDefault(x => x.IsPoster == true).Name" alt="" /></a>
                    <div  style="text-decoration: none !important" class="title">
                        <div class="d-flex w-100 justify-content-between">
                            <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" style="
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600 !important;
                  "
                               class="boldtext">@item.Name</a>
                            @{
                if (userr != null) { 
                                    if (item.UserFavorites.FirstOrDefault(x => x.PropertyId == item.Id && x.AppUserId == userr.Id) != null && userr != null)
                                    {
                                        <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: #556ee6;
                                     background: #f8f8fb;
                                     width: 2rem;
                                     display: inline-block;
                                     height: 2rem;
                                     text-align: center;
                                     border-radius: 100px;
                                     line-height: 2.1rem;
                                     border-radius: 8px;
                                     z-index: 50
    "
                                           class="fas fa-heart wishlist"></a>

                                    }
                                    else
                                    {
                                        <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: gainsboro;
                                       background: #f8f8fb;
                                       width: 2rem;
                                       display: inline-block;
                                       height: 2rem;
                                       text-align: center;
                                       border-radius: 100px;
                                       line-height: 2.1rem;
                                       border-radius: 8px;
                                       z-index: 50
    "
                                           class="fas fa-heart wishlist"></a>
                                    }
                                }
                            }
                        </div>
                        <div>
                            <i class="fas fa-map-marker-alt text-danger"></i> @item.City.Name,
                            Azerbaijan
                        </div>
                        <div>
                            <i class="fas fa-arrows-alt text-danger"></i> @item.Area Sqmts
                            Area
                        </div>
                        @{

                            if (item.RentType == RentType.Monthly)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                            }
                            else if (item.RentType == RentType.Daily)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                            else
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                                <div style="opacity: 0.8;margin-top:0px" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                        }

                    </div>
                </div>
            }


        </div>
    </div>
</section>
<section class="pagefour">
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">most rented lists</p>
            <p class="boldtext">Most Rented <span>Rental</span> Properties</p>
            <p style="font-size: 16px">
                Here you can access bestseller rental properties
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            infourthpage
          ">
            @foreach (var item in Model.MostRentedProperties)
            {
                <div class="card mx-auto"
                     style="width: 18rem;  box-shadow: none">
                    <div style="margin-bottom: 10px" class="image">
                        <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" class="card-img">
                            <img style="max-height:250px" class="" src="~/uploads/@item.PropertyImages.FirstOrDefault(x=>x.IsPoster==true).Name" alt="Card image cap" />
                        </a>
                        @{
                            if (userr != null)
                            {
                                if (userr != null && item.UserFavorites.FirstOrDefault(x => x.PropertyId == item.Id && x.AppUserId == userr.Id) != null)
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: #556ee6;
        background: #f8f8fb;
        width: 2rem;
        display: inline-block;
        height: 2rem;
        text-align: center;
        border-radius: 100px;
        line-height: 2.1rem;
        border-radius: 8px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>

                                }
                                else
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: gainsboro;
        background: #f8f8fb;
        width: 2rem;
        display: inline-block;
        height: 2rem;
        text-align: center;
        border-radius: 100px;
        line-height: 2.1rem;
        border-radius: 8px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>
                                }
                            }
                        }
                    </div>

                    <div class="card-body">
                        <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                           class="boldtext">
                            @item.Name
                        </a>
                        <div style="margin-bottom: 5px !important">
                            <i class="fas fa-map-marker-alt text-danger"></i> @item.City.Name,
                            Azerbaijan
                        </div>
                        <div style="margin-bottom: 5px !important">
                            <i class="fas fa-arrows-alt text-danger"></i> @item.Area Sqmts
                            Area
                        </div>
                        @{

                            if (item.RentType == RentType.Monthly)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                            }
                            else if (item.RentType == RentType.Daily)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                            else
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                                <div style="opacity: 0.8;margin-top:0px" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                        }
                    </div>
                    <hr style="height: 1px; width: 270px" />
                    <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                         style="width: 90%">
                        <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                            <img style="width: 35px; height: 35px; border-radius: 50%"
                                 
                                  src="~/@(item.AppUser.Image == null?"assets/360.jpg":"uploads/"+item.AppUser.Image)"
                                 alt="" />
                            <p class=""
                               style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                                @item.AppUser.FullName
                            </p>
                        </div>
                        
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<section class="pagefive">
    <img style="
          max-width: 300px;
          position: absolute;
          top: 0;
          left: 20%;
          z-index: 10;
        "
         src="~/assets/bg6.png"
         alt="" />
    <div class="firstpage container">

        <img style="border-radius: 7px" src="~/uploads/@Model.ContactImage" alt="" />
        <div class="heading">
            <p class="recent">rent properties</p>
            <p class="boldtext">@Model.ContactTitle </p>
            <p style="font-size: 16px">
                @Model.ContactMessage
            </p>
            <div class="boxes d-flex">
                <a style="border-radius: 10px;" class="bluebox btn btn-primary waves-effect waves-light"><span class="fas fa-phone"></span> 055-294-01-65</a>
                <a style="text-transform: none;border-radius: 10px;" class="redbox btn btn-danger waves-effect waves-light"><span class="fas fa-envelope"></span> ayxan689@gmail.com</a>
            </div>
        </div>
</section>
<section style="        background-color: #ececf3
" class="pagethree">
    <div class="container firstpage">
        <div class="heading">
            <p class="recent">@Model.FeaturedProperties.Count featured offers</p>
            <p class="boldtext">Find Featured <span>Offers</span></p>
            <p style="font-size: 16px">
                Here you can access featured rent properties 
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            inthirdpage
          ">
            @foreach (var item in Model.FeaturedProperties)
            {
                <div class="carditem">
                    <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id"><img src="~/uploads/@item.PropertyImages.FirstOrDefault(x => x.IsPoster == true).Name" alt="" /></a>
                    <div href="#" style="text-decoration: none !important" class="title">
                        <div class="d-flex w-100 justify-content-between">
                            <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" style="
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600 !important;
                  "
                               class="boldtext">@item.Name</a>
                            @{

                                if (item.UserFavorites.FirstOrDefault(x => x.PropertyId == item.Id && x.AppUserId == userr.Id) != null)
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: #556ee6;
                                     background: #f8f8fb;
                                     width: 2rem;
                                     display: inline-block;
                                     height: 2rem;
                                     text-align: center;
                                     border-radius: 100px;
                                     line-height: 2.1rem;
                                     border-radius: 8px;
                                     z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>

                                }
                                else
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@item.Id" style="        color: gainsboro;
                                       background: #f8f8fb;
                                       width: 2rem;
                                       display: inline-block;
                                       height: 2rem;
                                       text-align: center;
                                       border-radius: 100px;
                                       line-height: 2.1rem;
                                       border-radius: 8px;
                                       z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>
                                }
                            }

                        </div>
                        <div>
                            <i class="fas fa-map-marker-alt text-danger"></i> @item.City.Name,
                            Azerbaijan
                        </div>
                        <div>
                            <i class="fas fa-arrows-alt text-danger"></i> @item.Area Sqmts
                            Area
                        </div>
                        @{

                            if (item.RentType == RentType.Monthly)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                            }
                            else if (item.RentType == RentType.Daily)
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                            else
                            {
                                <div style="opacity: 0.8" class="boldtext">
                                    @item.MonthlyPrice AZN

                                    <span style="font-size: 12px !important">per month</span>
                                </div>
                                <div style="opacity: 0.8;margin-top:0px" class="boldtext">
                                    @item.DailyPrice AZN

                                    <span style="font-size: 12px !important">per day</span>
                                </div>
                            }
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="pagesix">
    <div class="firstpage container">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                <h5>Total Categories</h5>
                <h2 class="timer" data-from="0" data-to="@ViewBag.TotalCategories"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-home"></i>
                </div>
                <h5>Total Rented Properties</h5>
                <h2 class="timer" data-from="0" data-to="@ViewBag.TotalBookings"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h5>Total Places</h5>
                <h2 class="timer" data-from="0" data-to="@ViewBag.TotalCities"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="far fa-smile"></i>
                </div>
                <h5>Happy Customers</h5>
                <h2 class="timer" data-from="0" data-to="@ViewBag.TotalUsersCount"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
        </div>
    </div>
</section>
<section class="pageseven">
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">reviews</p>
            <p class="boldtext">Our <span>Clients</span> Say</p>
            <p style="font-size: 16px">Here are our clients general opinions</p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            inseventhpage
          ">


            @foreach (var item in Model.Reviews)
            {
                <div class="testimonialcard p-4 mx-auto card">
                    <p style="margin-top: 5px">
                        @item.Message
                    </p>
                    <p style="font-weight: 600; font-size: 18px; margin-bottom: 5px"
                       class="boldtext">
                        @item.AppUser.UserName
                    </p>
                    <ul style="list-style: none; display: flex; gap: 1px">
                        @for (int i = 1; i <= item.Rate; i++)
                        {
                            <i class="fas fa-star on"></i>
                        }
                        @for (int i = 1; i <= 5-item.Rate; i++)
                        {
                             <i class="fas fa-star off"></i>
                        }

                        
                        
                    </ul>
                    <img style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: absolute;
                bottom: -100px;
                left: 0;
              "
                        src="~/@(item.AppUser.Image == null?"assets/360.jpg":"uploads/"+item.AppUser.Image)"
                         alt="" />
                </div>
            }


        </div>
    </div>
</section>
<section class="pageeight">
    <div class="container firstpage">
        <div class="heading">
            <p class="recent">near locations</p>
            <p class="boldtext">Top <span>Rental Listing</span> Places</p>
            <p style="font-size: 16px">Here are cities with most properties</p>
        </div>
        <div style="margin-top: 50px; " class="row gap-5">
            @foreach (var item in Model.Cities)
            {
                <div style="position: relative; width: 276px; height: 184px; border-radius: 8px;" class="col-sm-12 col-lg-3 col-md-4">
                    <a style="display: block; border-radius: 8px;background-color: #3f3e3e !important;width: 276px !important; height: 184px !important;" asp-controller="property" asp-action="list" asp-route-cityId="@item.Id">
                        <img style="width: 276px; height: 184px; border-radius: 8px; opacity: 0.45;" src="~/uploads/@item.Image" alt="">
                        <p style="position: absolute;top: 55px;
           left: 40%;
           color: rgba(255, 255, 255, 0.9);
           z-index: 2;
           font-size: 21px !important;
           font-weight: 600;">@item.Name</p>
        <p style="position: absolute;top: 105px;
           left: 32%;
           color: rgba(255, 255, 255, 0.9);
           z-index: 2;
           font-size: 16px !important;
z-index: 2;
font-size: 14px;font-weight: 500;
line-height: 1.1;
font-family: 'Poppins', sans-serif;">@item.Properties.Count listing place</p>
</a>
</div>

}

        </div>
    </div>
</section>

@section js{
    <script>
        $(document).ready(function () {
            if ($(".owl-carousel.inheader").length) {
                $(".owl-carousel.inheader").owlCarousel({
                    items: 1,
                    autoplay: true,
                    autoplayTimeout: 10000,
                    lazyLoad: true,
                    dots: false,
                    mouseDrag: false,
                    rewind: true,
                });
            }
            if ($(".owl-carousel.insecondpage").length) {
                $(".owl-carousel.insecondpage").owlCarousel({
                    items: 4,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 2,
                        },
                        1024: {
                            items: 2,
                        },
                        1200: {
                            items: 2,
                        },
                        1600: {
                            items: 3,
                        },
                        2000: {
                            items: 4,
                        },
                    },
                });
            }
            if ($(".owl-carousel.inthirdpage").length) {
                $(".owl-carousel.inthirdpage").owlCarousel({
                    items: 2,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 1,
                        },
                        1024: {
                            items: 1,
                        },
                        1800: {
                            items: 2,
                        },
                        2000: {
                            items: 2,
                        },
                    },
                });
            }
            if ($(".owl-carousel.infourthpage").length) {
                $(".owl-carousel.infourthpage").owlCarousel({
                    items: 4,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 2,
                        },
                        1400: {
                            items: 3,
                        },
                        1800: {
                            items: 4,
                        },
                        2000: {
                            items: 4,
                        },
                    },
                });
            }

            if ($(".owl-carousel.inseventhpage").length) {
                $(".owl-carousel.inseventhpage").owlCarousel({
                    items: 2,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 1,
                        },
                        1400: {
                            items: 1,
                        },
                        1800: {
                            items: 2,
                        },
                        2000: {
                            items: 2,
                        },
                    },
                });
            }
            $(".js-example-basic-single").select2({

            });
            $('.timer').countTo();
        });
    </script>
}
