@using shitfo.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="~/css/index.css?version=51" />
}

<div class="pageindex">
    <div class="firstpage relative">
        <div class="owl-carousel owl-reponsive inheader">
            <div><img src="~/assets/bir.jpg" alt="" /></div>
            <div><img src="~/assets/iki.jpg" alt="" /></div>
            <div><img src="~/assets/3.jpg" alt="" /></div>
        </div>
        <div class="container search">
            <div class="title">
                <p class="boldtext">
                    Best
                    <span class="boldtext vital">Rental Website</span> in Azerbaijan
                </p>
                <p style="
                  color: rgba(255, 255, 255, 0.8) !important;
                  font-size: 20px;
                "
                   class="fs-18 mt-3 text-white-80">
                    Houses and apartments for rent.
                </p>
            </div>
            <div class="searcharea">
                <form method="post" class="form no-gutters">
                    <div class="city">
                        <p class="boldtext">City</p>
                        <select style="height: 45px !important; width: 285px !important"
                                class="js-example-basic-single"
                                name="state">
                            <option value="AL">Alabama</option>

                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="categories">
                        <p class="boldtext">Category</p>
                        <select style="height: 45px !important; width: 285px !important"
                                class="js-example-basic-single"
                                name="state">
                            @foreach(var item in Model.Categories)
            {
                            <option >@item.Name</option>

            }
                            

                           
                        </select>
                    </div>
                    <button type="submit"
                            class="
                    btn btn-lg btn-block btn-primary
                    waves-effect waves-light
                    br-tl-md-0 br-bl-md-0
                  ">
                        Search Here
                    </button>
                </form>
                <div class="totaluserinfo">
                    <i class="fas fa-globe"></i>

                    <p>Total Count of People using Shifto: <span>36</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pagetwo">
    <div class="img-absolute-top">
        <img src="~/assets/bg4.png" alt="" />
    </div>
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">@Model.Categories.Count categories</p>
            <p class="boldtext">Categories</p>
            <p style="font-size: 16px">
                Here you can access properties by their category
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            insecondpage
          ">
            @foreach (var item in Model.Categories)
            {

                <div class="carditem mx-auto">
                    <a href="#"><img src="~/uploads/@item.Image" alt="" /></a>
                    <div class="title">
                        <p style="margin-bottom: 0" class="available">
                            <span>@item.Properties.Count</span> Rents available
                        </p>
                        <p class="boldtext">@item.Name</p>
                    </div>
                </div> 
            }

        </div>
    </div>
</section>
<section class="pagethree">
    <div class="container firstpage">
        <div class="heading">
            <p class="recent">25+ special offers</p>
            <p class="boldtext">Find Today's <span>Offers</span></p>
            <p style="font-size: 16px">
                Here you can access rent properties which were added today
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            inthirdpage
          ">
            <div class="carditem">
                <a href="#"><img src="~/assets/-1.jpg" alt="" /></a>
                <a href="#" style="text-decoration: none !important" class="title">
                    <div class="d-flex w-100 justify-content-between">
                        <span style="
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600 !important;
                  "
                              class="boldtext">Rent for College</span>

                        <i style="
                    background: #f8f8fb;
                    color: #556ee6;
                    width: 2rem;
                    display: inline-block;
                    height: 2rem;
                    text-align: center;
                    border-radius: 100px;
                    line-height: 2.1rem;
                    border-radius: 8px;
                  "
                           class="far fa-heart wishlist"></i>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div>
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8" class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <span style="font-size: 12px !important">per month</span>
                    </div>
                </a>
            </div>
            <div class="carditem">
                <a href="#"><img src="~/assets/-2.jpg" alt="" /></a>
                <a href="#" style="text-decoration: none !important" class="title">
                    <div class="d-flex w-100 justify-content-between">
                        <span style="
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600 !important;
                  "
                              class="boldtext">Rent for College</span>

                        <i style="
                    background: #f8f8fb;
                    color: #556ee6;
                    width: 2rem;
                    display: inline-block;
                    height: 2rem;
                    text-align: center;
                    border-radius: 100px;
                    line-height: 2.1rem;
                    border-radius: 8px;
                  "
                           class="far fa-heart wishlist"></i>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div>
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8" class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <span style="font-size: 12px !important">per month</span>
                    </div>
                </a>
            </div>
            <div class="carditem">
                <a href="#"><img src="~/assets/-3.jpg" alt="" /></a>
                <a href="#" style="text-decoration: none !important" class="title">
                    <div class="d-flex w-100 justify-content-between">
                        <span style="
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600 !important;
                  "
                              class="boldtext">Rent for College</span>

                        <i style="
                    background: #f8f8fb;
                    color: #556ee6;
                    width: 2rem;
                    display: inline-block;
                    height: 2rem;
                    text-align: center;
                    border-radius: 100px;
                    line-height: 2.1rem;
                    border-radius: 8px;
                  "
                           class="far fa-heart wishlist"></i>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div>
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8" class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <span style="font-size: 12px !important">per month</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="pagefour">
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">15+ recent lists</p>
            <p class="boldtext">Latest <span>Rental</span> Properties</p>
            <p style="font-size: 16px">
                Here you can access latest rental properties
            </p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            infourthpage
          ">
            <a href="#"
               class="card mx-auto"
               style="width: 18rem; box-shadow: none">
                <div style="margin-bottom: 10px" class="image">
                    <img class="card-img" src="~/assets/-2.jpg" alt="Card image cap" />
                    <i style="
                  background: #666666;
                  opacity: 0.7;
                  color: #ffffff;
                  width: 2rem;
                  display: inline-block;
                  height: 2rem;
                  text-align: center;
                  border-radius: 100px;
                  line-height: 2.1rem;
                  border-radius: 8px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
                "
                       class="far fa-heart wishlist"></i>
                </div>

                <div class="card-body">
                    <p style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                       class="boldtext">
                        Lands
                    </p>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8; margin-bottom: 0 !important"
                         class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <br />
                        <span style="font-size: 12px !important">Per Month</span>
                    </div>
                </div>
                <hr style="height: 1px; width: 270px" />
                <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                     style="width: 90%">
                    <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                        <img style="width: 35px; height: 35px; border-radius: 50%"
                             src="~/assets/12.jpg"
                             alt="" />
                        <p class=""
                           style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                            Adriana
                        </p>
                    </div>
                    <i style="font-weight: 400; opacity: 0.5"
                       class="far fa-heart"></i>
                </div>
            </a>
            <a href="#"
               class="card mx-auto"
               style="width: 18rem; box-shadow: none">
                <div style="margin-bottom: 10px" class="image">
                    <img class="card-img" src="~/assets/-3.jpg" alt="Card image cap" />
                    <i style="
                  background: #666666;
                  opacity: 0.7;
                  color: #ffffff;
                  width: 2rem;
                  display: inline-block;
                  height: 2rem;
                  text-align: center;
                  border-radius: 100px;
                  line-height: 2.1rem;
                  border-radius: 8px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
                "
                       class="far fa-heart wishlist"></i>
                </div>

                <div class="card-body">
                    <p style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                       class="boldtext">
                        Lands
                    </p>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8; margin-bottom: 0 !important"
                         class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <br />
                        <span style="font-size: 12px !important">Per Month</span>
                    </div>
                </div>
                <hr style="height: 1px; width: 270px" />
                <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                     style="width: 90%">
                    <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                        <img style="width: 35px; height: 35px; border-radius: 50%"
                             src="~/assets/12.jpg"
                             alt="" />
                        <p class=""
                           style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                            Adriana
                        </p>
                    </div>
                    <i style="font-weight: 400; opacity: 0.5"
                       class="far fa-heart"></i>
                </div>
            </a>
            <a href="#"
               class="card mx-auto"
               style="width: 18rem; box-shadow: none">
                <div style="margin-bottom: 10px" class="image">
                    <img class="card-img" src="~/assets/-4.jpg" alt="Card image cap" />
                    <i style="
                  background: #666666;
                  opacity: 0.7;
                  color: #ffffff;
                  width: 2rem;
                  display: inline-block;
                  height: 2rem;
                  text-align: center;
                  border-radius: 100px;
                  line-height: 2.1rem;
                  border-radius: 8px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
                "
                       class="far fa-heart wishlist"></i>
                </div>

                <div class="card-body">
                    <p style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                       class="boldtext">
                        Lands
                    </p>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8; margin-bottom: 0 !important"
                         class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <br />
                        <span style="font-size: 12px !important">Per Month</span>
                    </div>
                </div>
                <hr style="height: 1px; width: 270px" />
                <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                     style="width: 90%">
                    <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                        <img style="width: 35px; height: 35px; border-radius: 50%"
                             src="~/assets/12.jpg"
                             alt="" />
                        <p class=""
                           style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                            Adriana
                        </p>
                    </div>
                    <i style="font-weight: 400; opacity: 0.5"
                       class="far fa-heart"></i>
                </div>
            </a>
            <a href="#"
               class="card mx-auto"
               style="width: 18rem; box-shadow: none">
                <div style="margin-bottom: 10px" class="image">
                    <img class="card-img" src="~/assets/-5.jpg" alt="Card image cap" />
                    <i style="
                  background: #666666;
                  opacity: 0.7;
                  color: #ffffff;
                  width: 2rem;
                  display: inline-block;
                  height: 2rem;
                  text-align: center;
                  border-radius: 100px;
                  line-height: 2.1rem;
                  border-radius: 8px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
                "
                       class="far fa-heart wishlist"></i>
                </div>

                <div class="card-body">
                    <p style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                       class="boldtext">
                        Lands
                    </p>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8; margin-bottom: 0 !important"
                         class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <br />
                        <span style="font-size: 12px !important">Per Month</span>
                    </div>
                </div>
                <hr style="height: 1px; width: 270px" />
                <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                     style="width: 90%">
                    <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                        <img style="width: 35px; height: 35px; border-radius: 50%"
                             src="~/assets/12.jpg"
                             alt="" />
                        <p class=""
                           style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                            Adriana
                        </p>
                    </div>
                    <i style="font-weight: 400; opacity: 0.5"
                       class="far fa-heart"></i>
                </div>
            </a>
            <a href="#"
               class="card mx-auto"
               style="width: 18rem; box-shadow: none">
                <div style="margin-bottom: 10px" class="image">
                    <img class="card-img" src="~/assets/-6.jpg" alt="Card image cap" />
                    <i style="
                  background: #666666;
                  opacity: 0.7;
                  color: #ffffff;
                  width: 2rem;
                  display: inline-block;
                  height: 2rem;
                  text-align: center;
                  border-radius: 100px;
                  line-height: 2.1rem;
                  border-radius: 8px;
                  position: absolute;
                  right: 10px;
                  top: 10px;
                "
                       class="far fa-heart wishlist"></i>
                </div>

                <div class="card-body">
                    <p style="
                  font-size: 18px;
                  opacity: 0.9;
                  font-weight: 600;
                  margin-bottom: 5px;
                "
                       class="boldtext">
                        Lands
                    </p>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-map-marker-alt text-danger"></i> Main City,
                        Australia
                    </div>
                    <div style="margin-bottom: 5px !important">
                        <i class="fas fa-arrows-alt text-danger"></i> 256 Sqfts
                        Commercial Land
                    </div>
                    <div style="opacity: 0.8; margin-bottom: 0 !important"
                         class="boldtext">
                        $52,005
                        <h5 style="
                    font-size: 15px;
                    display: inline;
                    text-decoration: line-through;
                    margin-right: 4px;
                  "
                            class="boldtext">
                            $65,457
                        </h5>
                        <br />
                        <span style="font-size: 12px !important">Per Month</span>
                    </div>
                </div>
                <hr style="height: 1px; width: 270px" />
                <div class="
                d-flex
                flex-direction-row
                justify-content-between
                align-items-center
              "
                     style="width: 90%">
                    <div class="
                  profile
                  d-flex
                  flex-direction-row
                  gap-2
                  align-items-center
                ">
                        <img style="width: 35px; height: 35px; border-radius: 50%"
                             src="~/assets/12.jpg"
                             alt="" />
                        <p class=""
                           style="
                    margin-bottom: 0 !important;
                    font-size: 15px;
                    color: #495057 !important;
                  ">
                            Adriana
                        </p>
                    </div>
                    <i style="font-weight: 400; opacity: 0.5"
                       class="far fa-heart"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="pagefive">
    <img style="
          max-width: 300px;
          position: absolute;
          top: 0;
          left: 20%;
          z-index: 10;
        "
         src="~/assets/bg6.png"
         alt="" />
    <div class="firstpage container">

        <img style="border-radius: 7px" src="~/uploads/@Model.ContactImage" alt="" />
        <div class="heading">
            <p class="recent">rent properties</p>
            <p class="boldtext">@Model.ContactTitle </p>
            <p style="font-size: 16px">
               @Model.ContactMessage
            </p>
            <div class="boxes d-flex">
                <a style="border-radius: 10px;" class="bluebox btn btn-primary waves-effect waves-light"><span class="fas fa-phone"></span> 055-294-01-65</a>
                <a style="text-transform: none;border-radius: 10px;" class="redbox btn btn-danger waves-effect waves-light"><span class="fas fa-envelope"></span> ayxan689@gmail.com</a>
            </div>
        </div>
</section>
<section class="pagesix">
    <div class="firstpage container">
        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-user-friends"></i>
                </div>
                <h5>Total Agents</h5>
                <h2 class="timer" data-from="0" data-to="893"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-home"></i>
                </div>
                <h5>Total Rented Properties</h5>
                <h2 class="timer" data-from="0" data-to="1765"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <h5>Total Places</h5>
                <h2 class="timer" data-from="0" data-to="8467"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center counter">
                <div class="counter-icon">
                    <i class="far fa-smile"></i>
                </div>
                <h5>Happy Customers</h5>
                <h2 class="timer" data-from="0" data-to="7253"
                    data-speed="1000" data-refresh-interval="10"></h2>
            </div>
        </div>
    </div>
</section>
<section class="pageseven">
    <div class="firstpage container">
        <div class="heading">
            <p class="recent">reviews</p>
            <p class="boldtext">Our <span>Clients</span> Say</p>
            <p style="font-size: 16px">Here are our clients general opinions</p>
        </div>
        <div class="
            owl-carousel owl-carousel-icons2 owl-loaded owl-drag
            inseventhpage
          ">
            <div class="testimonialcard p-4 mx-auto card">
                <p style="margin-top: 5px">
                    Close to everything clean great amenities.Thanks for this site,now
                    i can find a suitable place easier.
                </p>
                <p style="font-weight: 600; font-size: 18px; margin-bottom: 5px"
                   class="boldtext">
                    aykhansm
                </p>
                <ul style="list-style: none; display: flex; gap: 1px">
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star off"></i>
                </ul>
                <img style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: absolute;
                bottom: -100px;
                left: 0;
              "
                     src="~/assets/-12.jpg"
                     alt="" />
            </div>
            <div class="testimonialcard p-4 mx-auto card">
                <p style="margin-top: 5px">
                    Close to everything clean great amenities.Thanks for this site,now
                    i can find a suitable place easier.
                </p>
                <p style="font-weight: 600; font-size: 18px; margin-bottom: 5px"
                   class="boldtext">
                    aykhansm
                </p>
                <ul style="list-style: none; display: flex; gap: 1px">
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star off"></i>
                </ul>
                <img style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: absolute;
                bottom: -100px;
                left: 0;
              "
                     src="~/assets/-12.jpg"
                     alt="" />
            </div>
            <div class="testimonialcard p-4 mx-auto card">
                <p style="margin-top: 5px">
                    Close to everything clean great amenities.Thanks for this site,now
                    i can find a suitable place easier.
                </p>
                <p style="font-weight: 600; font-size: 18px; margin-bottom: 5px"
                   class="boldtext">
                    aykhansm
                </p>
                <ul style="list-style: none; display: flex; gap: 1px">
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star on"></i>
                    <i class="fas fa-star off"></i>
                </ul>
                <img style="
                width: 70px;
                height: 70px;
                border-radius: 50%;
                position: absolute;
                bottom: -100px;
                left: 0;
              "
                     src="~/assets/-12.jpg"
                     alt="" />
            </div>
        </div>
    </div>
</section>
<section class="pageeight">
    <div class="container firstpage">
        <div class="heading">
            <p class="recent">near locations</p>
            <p class="boldtext">Top <span>Rental Listing</span> Places</p>
            <p style="font-size: 16px">Here are cities with most properties</p>
        </div>
        <div style="margin-top: 50px; " class="row gap-5">
            @foreach (var item in Model.Cities)
            {
                <div style="position: relative; width: 276px; height: 184px; border-radius: 8px;" class="col-sm-12 col-lg-3 col-md-4">
                    <a style="display: block; border-radius: 8px;background-color: #3f3e3e !important;width: 276px !important; height: 184px !important;" href="#">
                        <img style="width: 276px; height: 184px; border-radius: 8px; opacity: 0.45;" src="~/uploads/@item.Image" alt="">
                        <p style="position: absolute;top: 55px;
           left: 40%;
           color: rgba(255, 255, 255, 0.9);
           z-index: 2;
           font-size: 21px !important;
           font-weight: 600;">@item.Name</p>
                        <p style="position: absolute;top: 105px;
           left: 32%;
           color: rgba(255, 255, 255, 0.9);
           z-index: 2;
           font-size: 16px !important;
z-index: 2;
font-size: 14px;font-weight: 500;
line-height: 1.1;
font-family: 'Poppins', sans-serif;">@item.Properties.Count listing place</p>
                    </a>
                </div>

            }

        </div>
    </div>
</section>

@section js{
    <script>
        $(document).ready(function () {
            if ($(".owl-carousel.inheader").length) {
                $(".owl-carousel.inheader").owlCarousel({
                    items: 1,
                    autoplay: true,
                    autoplayTimeout: 10000,
                    lazyLoad: true,
                    dots: false,
                    mouseDrag: false,
                    rewind: true,
                });
            }
            if ($(".owl-carousel.insecondpage").length) {
                $(".owl-carousel.insecondpage").owlCarousel({
                    items: 4,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 2,
                        },
                        1024: {
                            items: 2,
                        },
                        1200: {
                            items: 2,
                        },
                        1600: {
                            items: 3,
                        },
                        2000: {
                            items: 4,
                        },
                    },
                });
            }
            if ($(".owl-carousel.inthirdpage").length) {
                $(".owl-carousel.inthirdpage").owlCarousel({
                    items: 2,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 1,
                        },
                        1024: {
                            items: 1,
                        },
                        1800: {
                            items: 2,
                        },
                        2000: {
                            items: 2,
                        },
                    },
                });
            }
            if ($(".owl-carousel.infourthpage").length) {
                $(".owl-carousel.infourthpage").owlCarousel({
                    items: 4,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 2,
                        },
                        1400: {
                            items: 3,
                        },
                        1800: {
                            items: 4,
                        },
                        2000: {
                            items: 4,
                        },
                    },
                });
            }

            if ($(".owl-carousel.inseventhpage").length) {
                $(".owl-carousel.inseventhpage").owlCarousel({
                    items: 2,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: false,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                        },
                        600: {
                            items: 1,
                        },
                        800: {
                            items: 1,
                        },
                        1400: {
                            items: 1,
                        },
                        1800: {
                            items: 2,
                        },
                        2000: {
                            items: 2,
                        },
                    },
                });
            }
            $(".js-example-basic-single").select2({

            });
            $('.timer').countTo();
        });
    </script>
}
