@model Contact 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <link rel="stylesheet" href="~/css/contact.css" />
}
<section class="pagetwo">
    <div class="firstpage container">
        <p style="color: white; font-size: 30px" class="boldtext">Contact</p>
        <p style="
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 16px;
          ">
            Here you can send us a message in order to contact us
        </p>
    </div>
</section>
<section class="pagethree">
    <div class="container firstpage">
        <div class="row gap-4 justify-content-center">
            <div style="
              border: 1px solid #eff2f7;
              border-radius: 8px;
              box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
              width: 274px;
              padding: 10px;
            "
                 class="col-xl-3 col-md-6 contactphone card mb-xl-0">
                <div class="card-body">
                    <div class="d-flex font-weight-semibold text-primary">
                        <i style="
                    color: #556ee6 !important;
                    width: 1.6rem;
                    height: 1.6rem;
                    font-size: 11px;
                    line-height: 1.6rem !important;
                    border-radius: 7px;
                    background: #ececf3;
                    display: inline-block;
                    margin: 0 0;
                    margin-right: 0px;
                    margin-right: 5px;
                    text-align: center;
                  "
                           class="fas fa-phone icon-style-circle ml-0 mr-2"></i>

                        <div style="
                    font-weight: 600 !important;
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                  "
                             class="mt-1">
                            Contact
                        </div>
                    </div>
                    <h6 style="
                  font-weight: 600;
                  font-family: 'Poppins', sans-serif;
                  opacity: 0.8;
                "
                        class="font-weight-bold mt-3 fs-16">
                        +68 872-627-9735
                    </h6>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 14px"
                       class="mb-0">
                        Free Support!
                    </p>
                </div>
            </div>
            <div style="
              border: 1px solid #eff2f7;
              border-radius: 8px;
              box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
              width: 274px;
              padding: 10px;
            "
                 class="col-xl-3 col-md-6 contactphone card mb-xl-0">
                <div class="card-body">
                    <div class="d-flex font-weight-semibold text-primary">
                        <i style="
                    color: #556ee6 !important;
                    width: 1.6rem;
                    height: 1.6rem;
                    font-size: 11px;
                    line-height: 1.6rem !important;
                    border-radius: 7px;
                    background: #ececf3;
                    display: inline-block;
                    margin: 0 0;
                    margin-right: 0px;
                    margin-right: 5px;
                    text-align: center;
                  "
                           class="far fa-clock icon-style-circle ml-0 mr-2"></i>

                        <div style="
                    font-weight: 600 !important;
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                  "
                             class="mt-1">
                            Timings
                        </div>
                    </div>
                    <h6 style="
                  font-weight: 600;
                  font-family: 'Poppins', sans-serif;
                  opacity: 0.8;
                "
                        class="font-weight-bold mt-3 fs-16">
                        Mon-Sat(10:00-19:00)
                    </h6>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 14px"
                       class="mb-0">
                        Working Hours!
                    </p>
                </div>
            </div>
            <div style="
              border: 1px solid #eff2f7;
              border-radius: 8px;
              box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
              width: 274px;
              padding: 10px;
            "
                 class="col-xl-3 col-md-6 contactphone card mb-xl-0">
                <div class="card-body">
                    <div class="d-flex font-weight-semibold text-primary">
                        <i style="
                    color: #556ee6 !important;
                    width: 1.6rem;
                    height: 1.6rem;
                    font-size: 11px;
                    line-height: 1.6rem !important;
                    border-radius: 7px;
                    background: #ececf3;
                    display: inline-block;
                    margin: 0 0;
                    margin-right: 0px;
                    margin-right: 5px;
                    text-align: center;
                  "
                           class="fas fa-map-marker-alt icon-style-circle ml-0 mr-2"></i>

                        <div style="
                    font-weight: 600 !important;
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                  "
                             class="mt-1">
                            Location
                        </div>
                    </div>
                    <h6 style="
                  font-weight: 600;
                  font-family: 'Poppins', sans-serif;
                  opacity: 0.8;
                "
                        class="font-weight-bold mt-3 fs-16">
                        872 School Street
                    </h6>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 14px"
                       class="mb-0">
                        New York,USA
                    </p>
                </div>
            </div>
            <div style="
              border: 1px solid #eff2f7;
              border-radius: 8px;
              box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
              width: 274px;
              padding: 10px;
            "
                 class="col-xl-3 col-md-6 contactphone card mb-xl-0">
                <div class="card-body">
                    <div class="d-flex font-weight-semibold text-primary">
                        <i style="
                    color: #556ee6 !important;
                    width: 1.6rem;
                    height: 1.6rem;
                    font-size: 11px;
                    line-height: 1.6rem !important;
                    border-radius: 7px;
                    background: #ececf3;
                    display: inline-block;
                    margin: 0 0;
                    margin-right: 0px;
                    margin-right: 5px;
                    text-align: center;
                  "
                           class="far fa-envelope icon-style-circle ml-0 mr-2"></i>

                        <div style="
                    font-weight: 600 !important;
                    font-family: 'Roboto', sans-serif;
                    font-size: 13px;
                  "
                             class="mt-1">
                            Email
                        </div>
                    </div>
                    <h6 style="
                  font-weight: 600;
                  font-family: 'Poppins', sans-serif;
                  opacity: 0.8;
                "
                        class="font-weight-bold mt-3 fs-16">
                        ayxan689@gmail.com
                    </h6>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 14px"
                       class="mb-0">
                        Support Us!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pagefour">
    <div class="container firstpage">
        <div class="row">
            <div class="formcard col-lg-5 col-xl-4 col-md-6 mx-auto">
                <p style="margin-bottom: 25px; font-size: 22px; color: #495057"
                   class="boldtext">
                    Contact
                </p>
                <form method="post" asp-controller="contact" asp-action="contact">
                    <div class="name">
                        <label asp-for="@Model.Fullname" style="color: #495057; font-size: 14px">Full Name</label>
                        <input asp-for="@Model.Fullname" style="
                    height: 30px;
                    margin-top: 10px;
                    padding: 5px 15px;
                    background-color: white;
                    border: solid 2px gainsboro;
                    width: 90%;
                    border-radius: 5px;
                  "
                               placeholder="Your Fullname"
                               type="text"
                                />
                    </div>
                    <div class="email">
                        <label asp-for="@Model.Email" style="color: #495057; font-size: 14px">Email</label>
                        <input asp-for="@Model.Email" style="
                    height: 30px;
                    margin-top: 10px;
                    padding: 5px 15px;
                    background-color: white;
                    border: solid 2px gainsboro;
                    width: 90%;
                    border-radius: 5px;
                  "
                               required
                               type="email"
                               placeholder="Your Email"
                                />
                    </div>
                    <div class="message">
                        <label asp-for="@Model.Message" style="color: #495057; font-size: 14px">Message</label>
                        <textarea asp-for="@Model.Message" style="
                    height: 150px;
                    margin-top: 10px;
                    padding: 5px 15px;
                    background-color: white;
                    border: solid 2px gainsboro;
                    width: 100%;
                    border-radius: 5px;
                   
                  "required
                                  type="message"
                                  placeholder="Your Message"
                                  ></textarea>
                    </div>
                    <div class="submit">
                        <button class="btn btn-primary btn-block waves-effect waves-light"
                           type="submit"
                           style="
                    background-color: #428680;
                    border-radius: 6px;
                    width: 30%;
                    margin-top: 10px;
                  ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

