@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using shitfo.Enums
@using shitfo.ViewModels
@model PropertyDetailViewModel
@inject UserManager<AppUser> user
@{


    AppUser userr = null;
    if (User.Identity.IsAuthenticated)
    {
        userr = user.Users.Include(x => x.Bookings).ThenInclude(x => x.AppUser).FirstOrDefault(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<City> cities = (List<City>)ViewBag.Cities;
    List<Category> categories = (List<Category>)ViewBag.Categories;
    List<Property> otherproperties = (List<Property>)ViewBag.OtherProperties;
}
@section style{
    <link rel="stylesheet" href="~/css/property-details.css" />
}
<section class="pagetwo">
    <div class="firstpage container">
        <p style="color: white; font-size: 35px" class="">
            <span style="color: white; font-size: 35px" class="boldtext">@ViewBag.PropertyCount </span>Total Properties
        </p>
        <div class="searcharea">
            <form method="post"  asp-controller="property" asp-action="list" class="form no-gutters">
                <div class="city">
                    <p class="boldtext">Search input</p>
                    <input style="
                  background-color: white;
                  margin-bottom: 0;
                  width: 260px;
                  height: 40px !important;
                  border-radius: 10px 0 0 10px !important;
                "  name="searchstr"
                           type="text"
                           placeholder="type..." />
                </div>
                <div class="city">
                    <p class="boldtext">City</p>
                    <select style="height: 45px !important; width: 285px !important"
                            class="js-example-basic-single"
                            name="cityId">
                        <option selected disabled>Select city</option>

                        @foreach (var item in cities)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }
                    </select>
                </div>
                <div class="categories">
                    <p class="boldtext">Category</p>
                    <select style="height: 45px !important; width: 285px !important"
                            class="js-example-basic-single"
                            name="categoryId">
                        <option selected disabled>Select categories</option>

                        @foreach (var item in categories)
                        {
                            <option value="@item.Id">@item.Name</option>

                        }
                    </select>
                </div>
                <button type="submit"
                        class="
                btn btn-lg btn-block btn-primary
                waves-effect waves-light
                br-tl-md-0 br-bl-md-0
              ">
                    Search Here
                </button>
            </form>
            <div class="totaluserinfo"></div>
        </div>
    </div>
</section>

<section class="pagefour">
    <div class="container firstpage">
        <div class="row gap-4">
            <div style="display: flex; flex-direction: column"
                 class="col-xl-7 col-lg-9 col-md-12">
                <div class="formcard">
                    <p style="margin-bottom: 25px; font-size: 22px; color: #495057"
                       class="boldtext">
                        @Model.Property.Name
                    </p>
                    <ul class="d-flex">
                        <li style="margin-right: 1.5rem !important" class="mr-5">
                            <a style="color: unset" href="#" class="icons">
                                <i style="margin-right: 0.25rem !important"
                                   class="fas fa-home text-muted"></i>
                                @Model.Property.Category.Name
                            </a>
                        </li>
                        <li style="margin-right: 1.5rem !important" class="mr-5">
                            <a style="color: unset" href="#" class="icons">
                                <i style="margin-right: 0.25rem !important"
                                   class="fas fa-map-marker-alt text-muted"></i>
                                @Model.Property.City.Name ,Azerbaijan
                            </a>
                        </li>
                        <li style="margin-right: 1.5rem !important" class="mr-5">
                            <a style="color: unset" href="#" class="icons">
                                <i style="margin-right: 0.25rem !important"
                                   class="far fa-calendar text-muted"></i>
                                @Model.Property.CreatedAt.ToString("dd MMMM yyyy")
                            </a>
                        </li>
                        <li style="margin-right: 1.5rem !important" class="mr-5">
                            <a style="color: unset" href="#" class="icons">
                                <i style="margin-right: 0.25rem !important"
                                   class="fas fa-eye text-muted"></i>
                                @Model.Property.ViewCount
                            </a>
                        </li>
                        <li class="">
                            <a style="color: unset" href="#" class="icons">
                                @{
                                    ViewBag.Average = 0;
                                    if (Model.Property.Reviews.Count != 0)
                                    {
                                        ViewBag.Average = Model.Property.Reviews.Sum(x => x.Rate) / Model.Property.Reviews.Count;
                                    }

                                }
                                @ViewBag.Average

                                @for (int i = 0; i < ViewBag.Average; i++)
                                {
                                    <i class="fa fa-star text-warning"></i>

                                }
                            </a>
                        </li>
                    </ul>
                    <div style="max-height: 400px !important"
                         class="
                  owl-carousel owl-carousel-icons2 owl-loaded owl-drag
                  inthirdpage
                ">
                        @foreach (var item in Model.Property.PropertyImages)
                        {
                            <div class="carditem">
                                <a href="#"><img src="~/uploads/@item.Name" alt="" /></a>
                            </div>
                        }


                    </div>
                    <div style="
                  border-top: 1px solid #eff2f7;
                  flex: 1 1 auto;
                  margin: 0;
                  padding: 1.8rem 1.8rem;
                  position: relative;

                  width: 100% !important;
                "
                         class="p-4">
                        <div class="item-card9-footer">
                            <div class="item-card9-cost row w-100">
                                <div class="col-lg-4 col-sm-6 my-2 border-right mx-auto">
                                    <div style="text-align: left !important; align-items: center"
                                         class="d-inline-flex text-left">
                                        <i class="
                            fas
                            fa-arrows-alt
                            mr-1
                            icon-style-circle-lg
                            ml-0
                          "></i>
                                        <div style="text-align: left" class="ml-3">
                                            <h6 class="fs-13 font-weight-semibold">
                                                Builtup Area
                                            </h6>
                                            <h5 class="mb-0 font-weight-bold">@Model.Property.Area Sqmt</h5>
                                        </div>
                                    </div>
                                </div>

                                @{ if (Model.Property.RentType == RentType.Daily)
                                    {

                                        <div class="col-lg-4 col-sm-6 my-2 border-right mx-auto">
                                            <div style="align-items: center"
                                                 class="d-inline-flex text-left">
                                                <i class="
                            fas
                            fa-dollar-sign
                            mr-1
                            icon-style-circle-lg
                            ml-0
                          "></i>
                                                <div style="text-align: left" class="ml-3">
                                                    <h6 class="fs-13 font-weight-semibold">Daily Rent</h6>
                                                    <h5 class="mb-0 font-weight-bold">@Model.Property.DailyPrice AZN</h5>
                                                </div>
                                            </div>
                                        </div> }

                                    else if (Model.Property.RentType == RentType.Monthly)
                                    {

                                        <div class="col-lg-4 col-sm-6 my-2 mx-auto">
                                            <div style="align-items: center"
                                                 class="d-inline-flex text-left;">
                                                <i class="
                            fas
                            fa-dollar-sign
                            mr-1
                            icon-style-circle-lg
                            ml-0
                          "></i>
                                                <div style="text-align: left" class="ml-3">
                                                    <h6 class="fs-13 font-weight-semibold">
                                                        Monthly rent
                                                    </h6>
                                                    <h5 class="mb-0 font-weight-bold">@Model.Property.MonthlyPrice AZN</h5>
                                                </div>
                                            </div>
                                        </div> }

                                    else
                                    {

                                        <div class="col-lg-4 col-sm-6 my-2 border-right mx-auto">
                                            <div style="align-items: center"
                                                 class="d-inline-flex text-left">
                                                <i class="
                            fas
                            fa-dollar-sign
                            mr-1
                            icon-style-circle-lg
                            ml-0
                          "></i>
                                                <div style="text-align: left" class="ml-3">
                                                    <h6 class="fs-13 font-weight-semibold">Daily Rent</h6>
                                                    <h5 class="mb-0 font-weight-bold">@Model.Property.DailyPrice</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-sm-6 my-2 mx-auto">
                                            <div style="align-items: center"
                                                 class="d-inline-flex text-left;">
                                                <i class="
                            fas
                            fa-dollar-sign
                            mr-1
                            icon-style-circle-lg
                            ml-0
                          "></i>
                                                <div style="text-align: left" class="ml-3">
                                                    <h6 class="fs-13 font-weight-semibold">
                                                        Monthly rent
                                                    </h6>
                                                    <h5 class="mb-0 font-weight-bold">@Model.Property.MonthlyPrice</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }








                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 overflow-hidden">
                    <div class="details-tab">
                        <div class="border-0">
                            <div class="wideget-user-tab wideget-user-tab3">
                                <div class="tab-menu-heading">
                                    <div class="tabs-menu1">
                                        <ul class="nav">
                                            <li class="overview">
                                                <p class="active" data-toggle="tab">
                                                    <i style="margin-right: 0.125rem"
                                                       class="far fa-user mr-1"></i>
                                                    Overview
                                                </p>
                                            </li>

                                            <li class="reviews">
                                                <p data-toggle="tab" class="">
                                                    <i style="margin-right: 0.125rem"
                                                       class="far fa-star mr-1"></i>
                                                    Reviews
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="secondcard">
                                <div class="
                        tab-content
                        border border-bottom-0
                        p-5
                        bg-white
                        br-tr-5
                      ">
                                    <div class="tab-pane active" id="tab-1">
                                        <h3 style="
                            font-weight: 600 !important;
                            font-size: 1.2rem;
                            font-family: 'Poppins', sans-serif;
                          "
                                            class="mb-3 font-weight-semibold2">
                                            Overview
                                        </h3>
                                        <div class="mb-0">
                                            <p>
                                                @Model.Property.Description
                                            </p>
                                        </div>
                                        <h4 style="
                            font-weight: 600 !important;
                            font-size: 1.2rem;
                            font-family: 'Poppins', sans-serif;
                          "
                                            class="card-title mt-6 mb-3 font-weight-semibold2">
                                            Contact Info
                                        </h4>
                                        <div class="item-user mt-3">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6 style="font-size: 1rem"
                                                        class="font-weight-normal">
                                                        <span>
                                                            <i class="far fa-map mr-3 mb-2 d-inline-block"></i>
                                                        </span><a href="#" class="text-body">
                                                            @Model.Property.AppUser.Address
                                                        </a>
                                                    </h6>
                                                    <h6 style="font-size: 1rem"
                                                        class="font-weight-normal">
                                                        <span>
                                                            <i class="
                                      far
                                      fa-envelope
                                      mr-3
                                      mb-2
                                      d-inline-block
                                    "></i>
                                                        </span><a href="#" class="text-body">
                                                            @Model.Property.AppUser.Email
                                                        </a>
                                                    </h6>
                                                    <h6 class="boldtext"
                                                        style="
                                  font-family: 'Poppins', sans-serif;
                                  font-size: 1rem;
                                  margin-top: 20px;
                                ">
                                                        Bedroom count:
                                                        <span style="
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 1rem;
                                    font-weight: normal;
                                  ">@Model.Property.BedroomCount</span>
                            </h6>
                            <h6 class="boldtext"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  font-size: 1rem;
                                ">
                                Bathroom count:
                                <span style="
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 1rem;
                                    font-weight: normal;
                                  ">@Model.Property.BathroomCount</span>
                            </h6>
                        </div>
                        <div class="col-md-6">
                            <h6 style="font-size: 1rem"
                                class="font-weight-normal">
                                <span>
                                    <i class="
                                      fas
                                      fa-phone-alt
                                      mr-3
                                      mb-2
                                      d-inline-block
                                    "></i>
                                </span><a href="#" class="text-body">
                                    @Model.Property.AppUser.PhoneNumber
                                </a>
                            </h6>
                            <h6 style="font-size: 1rem"
                                class="font-weight-normal">
                                <span>
                                    <i class="fas fa-link mr-3 d-inline-block"></i>
                                </span><a href="#" class="text-body">@Model.Property.AppUser.Website</a>
                            </h6>
                            <h6 class="boldtext"
                                style="
                                  font-family: 'Poppins', sans-serif;
                                  font-size: 1rem;
                                  margin-top: 20px;
                                ">
                                Floor count:
                                <span style="
                                    font-family: 'Poppins', sans-serif;
                                    font-size: 1rem;
                                    font-weight: normal;
                                  ">@Model.Property.FloorCount</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="
                        pt-4
                        pb-4
                        pl-5
                        pr-5
                        border border-bottom-0
                        bg-white
                      ">
            <div class="list-id">
                <div style="padding-left: 30px; padding-right: 30px"
                     class="row">
                    <div class="col">
                        <a style="color: unset" class="mb-0">Rent ID : #@Model.Property.Id</a>
                    </div>
                    <div class="col col-auto">
                        Posted By
                        <a style="color: unset"
                           class="mb-0 font-weight-bold">@Model.Property.AppUser.FullName</a>
                        / @Model.Property.CreatedAt.ToString("g")
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-white border">
            <div style="
                          display: flex;
                          flex-direction: column;
                          align-items: baseline;
                          gap: 20px;
                          padding-top: 10px;
                          padding-bottom: 10px;
                        "
                 class="icons">

                <div style="display: flex; flex-direction: row; gap: 30px">

                    @{

                        if (Model.Property.RentType == RentType.Monthly)
                        {

                            <form method="post" asp-controller="property" asp-action="addbooking" asp-route-id="@Model.Property.Id" style="display: flex; flex-direction: column"
                                  class="contentsmonthly">
                                <div class="span5 col-md-6 datepicker-container">
                                    <label asp-for="@Model.Booking.BookingStart" for="">Monthly rent</label>
                                    <input asp-for="@Model.Booking.BookingStart" placeholder="monthly"
                                           required
                                           type="text"
                                           class="form-control" />
                                </div>
                                <div style="display: flex; flex-direction: column">
                                    <label asp-for="@Model.Booking.BookingDuration">How many months do you want to rent?</label>
                                    <input asp-for="@Model.Booking.BookingDuration" placeholder="month count"
                                           required
                                           type="number"
                                           class="form-control" />
                                    <input type="hidden" name="renttype" value="1" />
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button style="
                                background-color: #556ee6;
                                border-radius: 10px;
                                width: 120px;
                                padding: 0 !important;

                              "
                                        type="submit"
                                        class="btn btn-primary px-5 submitbutton">
                                    Book Now
                                </button>
                            </form>
                        }

                        else if (Model.Property.RentType == RentType.Daily)
                        {


                            <form method="post" asp-controller="property" asp-action="addbooking" asp-route-id="@Model.Property.Id" style="display: flex; flex-direction: column"
                                  class="contentsdaily">
                                <div class="span5 col-md-6 datepicker-container">
                                    <label asp-for="@Model.Booking.BookingStart">Daily rent</label>
                                    <input asp-for="@Model.Booking.BookingStart" placeholder="daily"
                                           required
                                           type="text"
                                           class="form-control" />
                                </div>
                                <div style="display: flex; flex-direction: column">
                                    <label asp-for="@Model.Booking.BookingDuration" for="">How many days do you want to rent?</label>
                                    <input asp-for="@Model.Booking.BookingDuration" asp-route-renttype="0" placeholder="day count"
                                           required
                                           type="number"
                                           class="form-control" />
                                    <input type="hidden" name="renttype" value="0" />
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <button style="
                                background-color: #556ee6;
                                border-radius: 10px;
                                width: 120px;
                                padding: 0 !important;
                                display: block;
                              "
                                        type="submit"
                                        class="btn btn-primary px-5 submitbutton">
                                    Book Now
                                </button>
                            </form>
                        }
                        else
                        {

                            <label>How do you want to rent?</label>
                            <ul style="border: 1px solid gainsboro"
                                class="nav nav-pills">
                                <li class="nav-item">
                                    <a s
                                       class="nav-link dailybutton"
                                       aria-current="page">Daily</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link monthlybutton">Monthly</a>
                                </li>
                            </ul>
                            <div style="display: flex; flex-direction: row; gap: 30px">
                                <form method="post" asp-controller="property" asp-action="addbooking" asp-route-id="@Model.Property.Id" style="display: none; flex-direction: column"
                                      class="contentsmonthly">
                                    <div class="span5 col-md-6 datepicker-container">
                                        <label asp-for="@Model.Booking.BookingStart">Monthly rent</label>
                                        <input asp-for="@Model.Booking.BookingStart" placeholder="monthly"
                                               required
                                               type="text"
                                               class="form-control" />
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        <label asp-for="@Model.Booking.BookingDuration" for="">How many months do you want to rent?</label>
                                        <input asp-for="@Model.Booking.BookingDuration" placeholder="month count"
                                               required
                                               type="number"
                                               class="form-control" />
                                        <input type="hidden" name="renttype" value="1" />
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <button style="
                                background-color: #556ee6;
                                border-radius: 10px;
                                width: 120px;
                                padding: 0 !important;

                              "
                                            type="submit"
                                            class="btn btn-primary px-5 submitbutton">
                                        Book Now
                                    </button>
                                </form>
                                <form method="post" asp-controller="property" asp-action="addbooking" asp-route-id="@Model.Property.Id" style="display: none; flex-direction: column"
                                      class="contentsdaily">
                                    <div class="span5 col-md-6 datepicker-container">
                                        <label asp-for="@Model.Booking.BookingStart">Daily rent</label>
                                        <input asp-for="@Model.Booking.BookingStart" placeholder="daily"
                                               required
                                               type="text"
                                               class="form-control" />
                                    </div>
                                    <div style="display: flex; flex-direction: column">
                                        <label asp-for="@Model.Booking.BookingDuration" for="">How many days do you want to rent?</label>
                                        <input asp-for="@Model.Booking.BookingDuration" placeholder="day count"
                                               required
                                               type="number"
                                               class="form-control" />
                                        <input type="hidden" name="renttype" value="0" />
                                    </div>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <button style="
                                background-color: #556ee6;
                                border-radius: 10px;
                                width: 120px;
                                padding: 0 !important;

                              "
                                            type="submit"
                                            class="btn btn-primary px-5 submitbutton">
                                        Book Now
                                    </button>
                                </form>

                            </div>
                        }



}

                <div style="display: flex; flex-direction: row">

                    @{
                        if (userr != null)
                        {
                            if (Model.Property.UserFavorites.FirstOrDefault(x => x.PropertyId == Model.Property.Id && x.AppUserId == userr.Id) != null)
                            {
                                <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@Model.Property.Id" asp-route-detailpage="1" style="        color: #556ee6;
                                     background: #f8f8fb;
                                     width: 2rem;
                                     display: inline-block;
                                     height: 2rem;
                                     text-align: center;
                                     border-radius: 100px;
                                     line-height: 2.1rem;
                                     border-radius: 8px;
                                     z-index: 50
    "
                                   class="fas fa-heart wishlist"></a>

                            }
                            else
                            {
                                <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@Model.Property.Id" asp-route-detailpage="1" style="        color: gainsboro;
                                       background: #f8f8fb;
                                       width: 2rem;
                                       display: inline-block;
                                       height: 2rem;
                                       text-align: center;
                                       border-radius: 100px;
                                       line-height: 2.1rem;
                                       border-radius: 8px;
                                       z-index: 50
    "
                                   class="fas fa-heart wishlist"></a>
                            }
                        }
                    }
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="
                      tab-content
                      border border-bottom-0
                      p-5
                      bg-white
                      br-tr-5
                      reviewcard
                    "
         style="display: none">

        <div class="tab-pane active" id="tab-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-5">
                            <div class="d-flex rate">
                                <div class="
                                    badge badge-default
                                    bg-light
                                    mb-2
                                    text-primary
                                  ">
                                    5 <i class="fa fa-star"></i>
                                </div>
                                <div style="
                                    font-weight: 600 !important;
                                    font-size: 16px;
                                  " class="ml-auto font-weight-semibold2 fs-16">
                                    @Model.Property.Reviews.Where(x => x.Rate == 5).Count()
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex rate">
                                <div class="
                                    badge badge-default
                                    bg-light
                                    mb-2
                                    text-danger
                                  ">
                                    4 <i class="fa fa-star"></i>
                                </div>
                                <div style="
                                    font-weight: 600 !important;
                                    font-size: 16px;
                                  " class="ml-auto font-weight-semibold2 fs-16">
                                    @Model.Property.Reviews.Where(x => x.Rate == 4).Count()
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex rate">
                                <div class="
                                    badge badge-default
                                    bg-light
                                    mb-2
                                    text-success
                                  ">
                                    3 <i class="fa fa-star"></i>
                                </div>
                                <div style="
                                    font-weight: 600 !important;
                                    font-size: 16px;
                                  " class="ml-auto font-weight-semibold2 fs-16">
                                    @Model.Property.Reviews.Where(x => x.Rate == 3).Count()
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex rate">
                                <div class="
                                    badge badge-default
                                    bg-light
                                    mb-2
                                    text-info
                                  ">
                                    2 <i class="fa fa-star"></i>
                                </div>
                                <div style="
                                    font-weight: 600 !important;
                                    font-size: 16px;
                                  " class="ml-auto font-weight-semibold2 fs-16">
                                    @Model.Property.Reviews.Where(x => x.Rate == 2).Count()
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <div class="d-flex rate">
                                <div class="
                                    badge badge-default
                                    bg-light
                                    mb-2
                                    text-warning
                                  ">
                                    1 <i class="fa fa-star"></i>
                                </div>
                                <div style="
                                    font-weight: 600 !important;
                                    font-size: 16px;
                                  " class="ml-auto font-weight-semibold2 fs-16">
                                    @Model.Property.Reviews.Where(x => x.Rate == 1).Count()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body px-0 pb-0">
                <h4 style="font-weight: 600 !important; font-size: 1.3rem" class="font-weight-semibold2">
                    @Model.Property.Reviews.Count() Reviews
                </h4>
                <ul class="timeline-property mt-5">
                    @foreach (var item in Model.Property.Reviews.OrderByDescending(x => x.CreatedAt))
                    {
                        <li style="
                              border-radius: 7px;
                              border: 1px solid #e8ebf3 !important;
                            " class="d-flex p-4 bg-white br-7 mb-4 border">
                            <img style="        height: 100px !important;
        width: 100px !important;
        border-radius: 50%;
    " src="~/@(item.AppUser.Image != null ? "uploads/" + item.AppUser.Image : "assets/360.jpg")" alt="" class="
                                w-8
                                h-8
                                brround
                                property-timeline-before
                                bg-primary
                              ">
                            <div style="margin-left: 1.5rem !important" class="timeline-data ml-5">
                                <div class="media-body">
                                    <h5 style="
                                    font-weight: 600 !important;
                                    font-size: 1.125rem;
                                  " class="mt-0 font-weight-semibold2">
                                        @item.AppUser.FullName
                                        <span class="fs-14 ml-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"><i class="fa fa-check-circle-o text-success"></i></span>
                                        <span class="fs-14 ml-2">
                                            @item.Rate
                                            <i style="color: #ffa22b !important" class="fa fa-star text-yellow"></i>
                                        </span>
                                    </h5>
                                    <small style="color: #74788d !important" class="text-muted">
                                        <i class="far fa-calendar-alt"></i> @item.CreatedAt.ToString("MMM dd")
                                        <i style="margin-left: 1rem" class="ml-3 fas fa-clock"></i>
                                        @item.CreatedAt.ToString("HH mm")
                                        <i style="margin-left: 1rem" class="ml-3 fas fa-map-marker-alt"></i>
                                        @item.AppUser.City.Name ,Azerbaijan
                                    </small>
                                    <p class="font-13 mb-2 mt-2">
                                        @item.Message
                                    </p>
                                </div>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>

    </div>
</div>
</div>
</div>
<div style="
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 800px;
              "
     class="my-5">
    <p style="font-size: 18px" class="boldtext">
        Other posts of this user
    </p>
    <div class="owl-carousel infourthpage">

        @foreach (var item in otherproperties)
        {
            <div style="
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    border-radius: 4px;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid #eff2f7;
                    border-radius: 8px;
                    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
                  "
                 class="mb-0 mx-2 col-lg-11 col-md-8 col-sm-7 col-xs-5 col-3">
                <div class="item-card2-img m-0 br-bl-0 br-br-0">
                    <div style="border-radius: 4px; position: relative"
                         asp-controller="property" asp-action="detail" asp-route-id="@item.Id">
                        <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" class="cover-image">
                            <img style="border-radius: 4px"
                                 src="~/uploads/@item.PropertyImages.FirstOrDefault(x => x.IsPoster == true).Name"
                                 alt="img"
                                 class="cover-image" />
                        </a>

                        @{
                            if (userr != null)
                            {
                                if (Model.Property.UserFavorites.FirstOrDefault(x => x.PropertyId == Model.Property.Id && x.AppUserId == userr.Id) != null)
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@Model.Property.Id" asp-route-detailpage="1" style="        color: #556ee6;
        position: absolute;
        background-color: rgba(48, 52, 70, 0.5);
        width: 2rem;
        display: inline-block;
        height: 2rem;
        text-align: center;
        border-radius: 100px;
        line-height: 2.1rem;
        border-radius: 8px;

        top: 10px;
        right: 10px;
        z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>

                                }
                                else
                                {
                                    <a asp-controller="property" asp-action="ToggleFavorite" asp-route-id="@Model.Property.Id" asp-route-detailpage="1" style="        color: gainsboro;
                     position: absolute;
                     background-color: rgba(48, 52, 70, 0.5);
                     width: 2rem;
                     display: inline-block;
                     height: 2rem;
                     text-align: center;
                     border-radius: 100px;
                     line-height: 2.1rem;
                     border-radius: 8px;

                     top: 10px;
                     right: 10px;
                     z-index: 50
    "
                                       class="fas fa-heart wishlist"></a>
                                }
                            }
                        }

                    </div>
                </div>

                <div style="padding: 1rem 2rem !important" class="card-body">
                    <div class="item-card2">
                        <div class="item-card2-text">
                            @{

                                if (item.RentType == RentType.Monthly)
                                {
                                    <div class="boldtext">
                                        @item.MonthlyPrice AZN

                                        <span style="font-size: 12px !important">per month</span>
                                    </div>
                                }
                                else if (item.RentType == RentType.Daily)
                                {
                                    <div class="boldtext">
                                        @item.DailyPrice AZN

                                        <span style="font-size: 12px !important">per day</span>
                                    </div>
                                }
                                else
                                {
                                    <div class="boldtext">
                                        @item.MonthlyPrice AZN

                                        <span style="font-size: 12px !important">per month</span>
                                    </div>
                                    <div margin-top:0px" class="boldtext">
                                        @item.DailyPrice AZN

                                        <span style="font-size: 12px !important">per day</span>
                                    </div>
                                }
                            }
                            <a asp-controller="property" asp-action="detail" asp-route-id="@item.Id" class="text-dark">
                                <h4 style="
                              font-size: 1.28rem;
                              margin: 0.52rem 0 0.912rem 0;
                              font-weight: 600;
                            "
                                    class="fs-16 font-weight-semibold2">
                                    @item.Name
                                </h4>
                            </a>
                            <p class="text-muted mb-0">
                                @(item.Description.Length > 99 ? item.Description.Substring(0, 100) : item.Description)
                            </p>
                            <div class="row">
                                <div style="padding-left: 0 !important"
                                     class="col border-right mt-4">
                                    <small class="text-muted">Bedroom count</small>
                                    <h6 class="mb-0 fs-13 font-weight-semibold mt-1">
                                        @item.BedroomCount
                                    </h6>
                                </div>
                                <div class="col border-right mt-4">
                                    <small class="text-muted">Build area</small>
                                    <h6 class="mb-0 fs-13 font-weight-semibold mt-1">
                                        @item.Area sqmt
                                    </h6>
                                </div>
                                <div class="col mt-4">
                                    <small class="text-muted">Floor count </small>
                                    <h6 class="mb-0 fs-13 font-weight-semibold mt-1">
                                        @item.FloorCount
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>


@if (userr != null && userr.Bookings.Any(x => x.PropertyId == Model.Property.Id && x.AppUserId == userr.Id && x.Status == BookingStatus.Accepted))
{

    <div style="
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                border-radius: 4px;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #eff2f7;
                border-radius: 8px;
                box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
              "
         class="mb-lg-0 mt-5">
        <div style="
                  background: 0 0;
                  padding: 0.5rem 1.5rem;
                  display: -ms-flexbox;
                  display: flex;
                  min-height: 3.5rem;
                  -ms-flex-align: center;
                  align-items: center;
                  padding: 1.5rem 1.5rem;
                  margin-bottom: 0;
                  border-bottom: 1px solid #eff2f7;
                "
             class="card-header">
            <h3 style="margin-top: 0; font-size: 20px"
                class="card-title boldtext">
                Leave a reply
            </h3>
        </div>
        <div style="padding:30px" class="tab-pane">
            <div id="full-stars-example-two">
                <form asp-action="addreview" asp-controller="property" asp-route-id="@Model.Property.Id" method="post">
                    <div class="rating-group">
                        <p class="boldtext">Click to rate:</p>
                        <div class='starrr' id='star1'></div>
                        <input id="ratingvalue" type="hidden" name="rating" value="" />
                        <div>
                            &nbsp;
                            <span class='your-choice-was' style='display: none;'>
                                Your rating is <span id="choice" class='choice'></span>

                            </span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label style="margin-top:20px" asp-for="@Model.Review.Message" for="exampleFormControlTextarea1" class="form-label"></label>
                        <textarea style="height:150px;margin:0 0 30px 0" asp-for="@Model.Review.Message" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <button type="submit" class="cmntbtn btn">Submit</button>
                    </div>
                </form>


            </div>
        </div>
    </div>



}

</div>
<div class="col-xl-4 col-lg-8 col-md-12">
    <div style="
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                border-radius: 4px;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #eff2f7;
                border-radius: 8px;
                box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
                margin-bottom: 1.5rem;
                width: 100%;
              "
         class="">
        <div style="
                  background: 0 0;
                  padding: 0.5rem 1.5rem;
                  display: -ms-flexbox;
                  display: flex;
                  min-height: 3.5rem;
                  -ms-flex-align: center;
                  align-items: center;

                  margin-bottom: 0;
                  border-bottom: 1px solid #eff2f7;
                "
             class="card-header">
            <h3 style="
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.125rem;
                    line-height: 1.2;
                    font-weight: 500;
                  "
                class="card-title">
                Posted By
            </h3>
        </div>
        <div class="card-body item-user">
            <div style="text-align: center" class="profile-pic mb-0">
                <img style="border-radius: 50%;height:100px;width:100px"
                     src="~/@(Model.Property.AppUser.Image!=null?"uploads/"+Model.Property.AppUser.Image:"assets/360.jpg")"
                     class="brround"
                     alt="user" />
                <div class="">
                    <a asp-controller="property" asp-action="list" asp-route-appuserId="@Model.Property.AppUser.Id" class="text-dark">
                        <h4 style="
                          font-size: 20px !important;
                          font-weight: 600 !important;
                        "
                            class="mt-3 mb-5 font-weight-semibold2 fs-18">
                            @Model.Property.AppUser.FullName
                        </h4>
                    </a>

                    <span class="text-muted">Member Since @Model.Property.AppUser.CreatedAt.ToString("yyyy")</span>
                    <div>
                        <a style="
                          margin-top: 15px !important;
                          background-color: #556ee6;
                          border-radius: 10px;
                        " 
                           asp-controller="property" asp-action="list" asp-route-appuserId="@Model.Property.AppUser.Id"
                           class="btn btn-primary waves-effect waves-light mt-5">See All Properties</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="color: gainsboro" />
        <div style="padding: 30px" class="card-body item-user">
            <h4 style="
                    margin: 0 !important;
                    font-weight: 600 !important;
                    font-size: 20px !important;
                  "
                class="mb-4 fs-18 font-weight-semibold2">
                Contact Info
            </h4>
            <div>
                <h6 style="
                      margin-bottom: 0.3em;
                      font-family: 'Poppins', sans-serif;
                      font-size: 1rem;
                    ">
                    <span class="font-weight-semibold">
                        <i style="
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: #f2f3f8;
                          text-align: center;
                          line-height: 30px;
                          font-size: 12px;
                          margin-right: 7px;
                        "
                           class="fas fa-map-marker-alt mr-2 mb-2 d-inline-block"></i>
                    </span><a href="#" class="text-body">
                        @Model.Property.AppUser.Address,@Model.Property.AppUser.City.Name
                    </a>
                </h6>
                <h6 style="
                      margin-bottom: 0.3em;
                      font-family: 'Poppins', sans-serif;
                      font-size: 1rem;
                    ">
                    <span class="font-weight-semibold">
                        <i style="
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: #f2f3f8;
                          text-align: center;
                          line-height: 30px;
                          font-size: 12px;
                          margin-right: 7px;
                        "
                           class="far fa-envelope mr-2 mb-2 d-inline-block"></i>
                    </span><a href="#" class="text-body"> @Model.Property.AppUser.Email</a>
                </h6>
                <h6 style="
                      margin-bottom: 0.3em;
                      font-family: 'Poppins', sans-serif;
                      font-size: 1rem;
                    ">
                    <span class="font-weight-semibold">
                        <i style="
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: #f2f3f8;
                          text-align: center;
                          line-height: 30px;
                          font-size: 12px;
                          margin-right: 7px;
                        "
                           class="fas fa-phone-alt mr-2 mb-2 d-inline-block"></i>
                    </span><a href="#" class="text-body"> @Model.Property.AppUser.PhoneNumber</a>
                </h6>
                <h6 style="
                      margin-bottom: 0.3em;
                      font-family: 'Poppins', sans-serif;
                      font-size: 1rem;
                    ">
                    <span class="font-weight-semibold">
                        <i style="
                          width: 30px;
                          height: 30px;
                          border-radius: 50%;
                          background: #f2f3f8;
                          text-align: center;
                          line-height: 30px;
                          font-size: 12px;
                          margin-right: 7px;
                        "
                           class="fas fa-link mr-2 d-inline-block"></i>
                    </span><a href="#" class="text-body">@Model.Property.AppUser.Website</a>
                </h6>
            </div>
        </div>
    </div>
    <div style="
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                border-radius: 4px;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #eff2f7;
                border-radius: 8px;
                box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
                margin-bottom: 1.5rem;
                width: 100%;
              ">
        <div style="
                  background: 0 0;
                  padding: 0.5rem 1.5rem;
                  display: -ms-flexbox;
                  display: flex;
                  min-height: 3rem;
                  -ms-flex-align: center;
                  align-items: center;

                  margin-bottom: 0;
                  border-bottom: 1px solid #eff2f7;
                ">
            <h3 style="
                    font-size: 1.125rem;
                    line-height: 1.2;
                    font-weight: 500;
                    font-family: 'Poppins', sans-serif;
                  ">
                Keywords
            </h3>
        </div>
        <div class="card-body product-filter-desc">
            <div class="product-tags clearfix">
                <ul class="tags list-unstyled mb-0">
                    @foreach (var item in Model.Property.PropertyTags)
                    {

                        <li><a href="#">@item.Tag.Name</a></li>
                    }


                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
@section js{


    <script>
        $(document).ready(function () {


            $(".category").select2({});
            $(".js-example-basic-multiple").select2();
            $(".js-example-basic-single").select2({});
            $(".reviews").on("click", () => {
                $(".reviews p").css("background-color", "white");
                $(".overview p").css("background-color", "#ddddea");
                $(".overview").removeClass("active");
                $(".secondcard").hide();
                $(".reviewcard").show();
            });
            $(".overview").on("click", () => {
                $(this).addClass("active");
                $(".reviews p").css("background-color", "#ddddea");
                $(".overview p").css("background-color", "white");
                $(".secondcard").show();
                $(".reviewcard").hide();
            });

            $(".dailybutton").on("click", () => {
                $(".dailybutton").addClass("active");
                $(".monthlybutton").removeClass("active");

                $(".contentsmonthly").hide();
                $(".contentsdaily").show();
                $(".submitbutton").show();
            });
            $(".monthlybutton").on("click", () => {
                $(".dailybutton").removeClass("active");
                $(".monthlybutton").addClass("active");

                $(".contentsmonthly").show();
                $(".contentsdaily").hide();
                $(".submitbutton").show();
            });
            $(".datepicker-container input").datepicker({});
            if ($(".owl-carousel.inthirdpage").length) {
                $(".owl-carousel.inthirdpage").owlCarousel({
                    items: 1,
                    autoplay: true,
                    nav: true,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: true,
                    rewind: true,
                    dots: false,
                    responsiveClass: true,
                });
            }
            if ($(".owl-carousel.infourthpage").length) {
                $(".owl-carousel.infourthpage").owlCarousel({
                    items: 1,
                    autoplay: true,
                    nav: false,
                    autoplayTimeout: 5000,
                    lazyLoad: true,
                    loop: true,
                    mouseDrag: true,
                    rewind: true,
                    dots: false,
                });
            }
            $('#star1').starrr({
                change: function (e, value) {
                    if (value) {
                        $('.your-choice-was').show();
                        $('.choice').text(value);
                        $("#ratingvalue").val(parseInt(value));
                    } else {
                        $('.your-choice-was').hide();
                    }
                }
            });

        });
    </script>
}