@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
@using shitfo.Services
@inject LayoutViewModelService service
@inject UserManager<AppUser> user
@{
    AppUser userr = null;
    if (User.Identity.IsAuthenticated)
    {
        userr = await user.Users.FirstOrDefaultAsync(x => x.UserName == User.Identity.Name && !x.IsAdmin);
    }
    ViewBag.Settings = service.GetSetting();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    @*<link rel="stylesheet" href="~/css/editprofile.css" />
        <link rel="stylesheet" href="~/css/login.css" />
        <link rel="stylesheet" href="~/css/register.css" />
        <link rel="stylesheet" href="~/css/my-properties.css" />
        <link rel="stylesheet" href="~/css/post.css" />
        <link rel="stylesheet" href="~/css/property-details.css" />
        <link rel="stylesheet" href="~/css/property-list.css" />*@
    @RenderSection("style", false)

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="
            container
            navbar
            d-flex
            flex-direction-row
            justify-content-around
            my-2
            align-items-center
          ">
            <a asp-controller="home" asp-action="index"><img class="img" src="~/uploads/@ViewBag.Settings.Logo" alt="" /></a>
            <img class="imgresponsive" src="~/assets/favicon.png" alt="" />
            <ul style="margin-bottom: 0 !important"
                class="normalnav d-flex flex-direction-row align-items-center gap-4">
                <li style="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? " color: #556ee6 !important" : "")"><a asp-controller="home" asp-action="index">Home</a></li>

                <li style="@(ViewContext.RouteData.Values["controller"].ToString() == "Property" ? " color: #556ee6 !important" : "")"><a asp-controller="property" asp-action="list"> Properties</a></li>

                <li><a style="@(ViewContext.RouteData.Values["controller"].ToString() == "Contact" ? " color: #556ee6 !important" : "")" asp-controller="contact" asp-action="index">Contact Us</a></li>

                @{

                    if (userr != null)
                    {
                        <li class="mt-5 pb-0 mt-lg-0">
                            <span>
                                <a style="
                    background-color: #556ee6 !important;
                    border-radius: 7px !important;
                  "
                                  asp-controller="property" asp-action="post"
                                   class="
                    btn btn-primary
                    ad-post
                    waves-effect waves-light
                    text-white
                  ">Post Your Property</a>
                            </span>
                        </li>
                        <li><a asp-controller="account" asp-action="edit" style="font-size: 30px" class="far fa-user"></a></li>
                        <li>
                            <a style="font-weight: 400" asp-controller="account" asp-action="logout">Log out</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a style="font-weight: 700" asp-controller="account" asp-action="login">Login</a> /<br /><a asp-controller="account" asp-action="register">Register</a>
                        </li>
                    }
                }




            </ul>
            <div class="btn-group responsivenavbar">
                <i type="button"
                   class="fas fa-align-right"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                </i>

                <ul style="left: -117px !important" class="dropdown-menu">
                    <li style="color: #556ee6 !important">
                        <a class="dropdown-item" href="">Home</a>
                    </li>

                    <li><a class="dropdown-item" href="">Properties</a></li>

                    <li><a class="dropdown-item" asp-controller="contact" asp-action="index">Contact Us</a></li>
                    <li class="dropdown-item pb-0 mt-lg-0">
                        <span>
                            <a style="
                      background-color: #556ee6 !important;
                      border-radius: 7px !important;
                    "
                               href=""
                               class="
                      btn btn-primary
                      ad-post
                      waves-effect waves-light
                      text-white
                    ">Post Your Property</a>
                        </span>
                    </li>
                    <li>
                        <a class="dropdown-item" style="font-weight: 700" href="">Login</a>
                        <a href="">Register</a>
                    </li>
                    <li>
                        <a style="font-size: 30px"
                           class="dropdown-item far fa-user"></a>
                    </li>
                </ul>
            </div>
        </div>


    </header>
    <div>
        @RenderBody()
    </div>
    <section style=" margin-top: 50px; margin-bottom: 50px;" class="pagesubscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-7 col-md-12">
                    <div class="sub-newsletter d-sm-flex">
                        <i style=" width: 3.5rem; height: 3.5rem; line-height: 3.5rem; border-radius: 8px; display: inline-block; text-align: center; font-size: 20px; background-color: rgba(85, 110, 230, 0.1); color: #556ee6 !important;" class="far fa-envelope mr-2 text-primary bg-primary-transparent"></i>
                        <div style="margin-left: 20px" class="ml-sm-4 mt-5 mt-sm-0">
                            <h3 style="
                    margin: 0;
                    margin-bottom: 0px;
                    font-size: 32px;
                    font-weight: 600;
                  "
                                class="mb-2 font-weight-semibold2">
                                Subscribe To Our Newsletter
                            </h3>
                            <p class="mb-0">
                                Here you can subscribe to our site in order to be notified by
                                any news.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-5 col-md-12">
                    <form asp-controller="home" asp-action="subscribe" method="post" style="flex-wrap: nowrap" class="input-group sub-input mt-1">
                        <input style="
                  display: block;
                  width: 100%;
                  opacity: 1;
                  padding: 0.375rem 0.75rem;
                  font-size: 0.9375rem;
                  line-height: 1.6;
                  color: #495057;
                  height: 39px;
                  background-color: #fff;
                  background-clip: padding-box;
                  border: 1px solid #e8ebf3;
                  border-radius: 8px;
                  border-top-right-radius: 8px;
                  border-bottom-right-radius: 8px;
                  transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;

                  height: 40px !important;
                "
                               type="email"
                               value=""
                               name="Email"
                               id="mce-EMAIL"
                               placeholder="Enter your e-mail address"
                               required
                               class="form-control email input-lg bg-light" />
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-lg br-tr-3 br-br-3 waves-effect waves-light"
                                    style="
                    background-color: #556ee6 !important;
                    border-radius: 7px !important;
                    height: 50px;
                    width: 125px;
                  ">
                                Subscribe
                            </button>
                        </div>
                        <span> @(ViewBag.SubscribingError!=null?ViewBag.SubscribingError:"")</span>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="pagenine">
            <div class="firstpage container">
                <div class="row ">
                    <div style="width: 300px; height: 196px; gap: 30px;" class="col-xl-3 col-lg-6 col-md-12 paymentsocial">
                        <div class="payment">
                            <p class="boldtext header"> Payment Icons</p>
                            <ul style="list-style: none; display: flex;gap: 15px;">
                                <i class="fab fa-cc-visa"></i>
                                <i class="fab fa-cc-mastercard"></i>
                                <i class="fab fa-cc-paypal"></i>
                                <i class="fab fa-cc-apple-pay"></i>
                            </ul>
                        </div>
                        <div class="social">
                            <p class="boldtext header"> Social Icons</p>
                            <ul style="list-style: none; display: flex;gap: 15px;">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-youtube"></i>
                                <i class="fab fa-linkedin-in"></i>
                            </ul>
                        </div>
                    </div>
                    <div style="width: 200px; height: 196px;  " class="col-xl-2 col-lg-6 col-md-12 categories">
                        <p class="boldtext header">Categories</p>
                        <ul style="list-style: none; display: flex;flex-direction: column;">
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Residential</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Commercial</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Penthouse</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Garden house</a>
                            </li>

                        </ul>
                    </div>
                    <div style="width: 200px; height: 196px;  " class="col-xl-2 col-lg-6 col-md-12 resources">
                        <p class="boldtext header">Resources</p>
                        <ul style="list-style: none; display: flex;flex-direction: column;">
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Help Center</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Terms & Conditions</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Privacy Policy</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Support</a>
                            </li>

                        </ul>
                    </div>
                    <div style="width: 200px; height: 196px;  " class="col-xl-2 col-lg-6 col-md-12 company">
                        <p class="boldtext header">Company</p>
                        <ul style="list-style: none; display: flex;flex-direction: column;">
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Our Team</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Contact Us</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">About Us</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;" class="fas fa-chevron-right mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">Why Us</a>
                            </li>

                        </ul>
                    </div>
                    <div style="width: 300px; height: 196px;  " class="col-xl-3 col-lg-6 col-md-12 company">
                        <p class="boldtext header">Get In Touch</p>
                        <ul style="list-style: none; display: flex;flex-direction: column;">
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;    width: 25px;
                    height: 25px;
                    display: inline-block;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.1);
                    line-height: 25px;
                    border-radius: 8px;
                    margin-bottom: 6px;
                " class="fas fa-home mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">@ViewBag.Settings.ContactAddress</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;    width: 25px;
                    height: 25px;
                    display: inline-block;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.1);
                    line-height: 25px;
                    border-radius: 8px;
                    margin-bottom: 6px;
                " class="far fa-envelope mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">@ViewBag.Settings.ContactEmailAddress</a>
                            </li>
                            <li style="position: relative; margin-bottom: 10px;">
                                <i style="font-size: 11px;    width: 25px;
                    height: 25px;
                    display: inline-block;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.1);
                    line-height: 25px;
                    border-radius: 8px;
                    margin-bottom: 6px;
                " class="fas fa-phone mr-2 text-white-50"></i>
                                <a style="color: rgba(255, 255, 255, 0.6);" href="#">@ViewBag.Settings.ContactPhone</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

<!-- -----------------------------Jquery------------------ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/js/dist/starrr.js"></script>
<!-- -------------------------------Toastr------------ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
        integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-countto/1.1.0/jquery.countTo.min.js" integrity="sha512-ZbM86dAmjIe3nPA2k8j3G//NO/zBYNnZ8wi+yUKh8VH24CHr0aDhDHoEM4IvGl+Sz6ga7ONnGBDxS+BTVJ+K2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@RenderSection("js", false)

@RenderSection("Scripts", required: false)
</html>


